@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Helvetica Neue';
  src:
    url('HelveticaNeue-Medium.woff2') format('woff2'),
    url('HelveticaNeue-Medium.woff') format('woff'),
    url('HelveticaNeue-Medium.ttf') format('truetype'),
    url('HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: 'Helvetica Neue';
  src:
    url('HelveticaNeue-Bold.woff2') format('woff2'),
    url('HelveticaNeue-Bold.woff') format('woff'),
    url('HelveticaNeue-Bold.ttf') format('truetype'),
    url('HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-display: swap;
}

@font-face {
  font-weight: 100;
  font-style: italic;
  font-family: 'Helvetica Neue';
  src:
    url('HelveticaNeue-ThinItalic.woff2') format('woff2'),
    url('HelveticaNeue-ThinItalic.woff') format('woff'),
    url('HelveticaNeue-ThinItalic.ttf') format('truetype'),
    url('HelveticaNeue-ThinItalic.svg#HelveticaNeue-ThinItalic') format('svg');
  font-display: swap;
}

@font-face {
  font-weight: 100;
  font-style: italic;
  font-family: 'Helvetica Neue';
  src:
    url('HelveticaNeue-UltraLightItalic.woff2') format('woff2'),
    url('HelveticaNeue-UltraLightItalic.woff') format('woff'),
    url('HelveticaNeue-UltraLightItalic.ttf') format('truetype'),
    url('HelveticaNeue-UltraLightItalic.svg#HelveticaNeue-UltraLightItalic') format('svg');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: 'Helvetica Neue';
  src:
    url('HelveticaNeue-MediumItalic.woff2') format('woff2'),
    url('HelveticaNeue-MediumItalic.woff') format('woff'),
    url('HelveticaNeue-MediumItalic.ttf') format('truetype'),
    url('HelveticaNeue-MediumItalic.svg#HelveticaNeue-MediumItalic') format('svg');
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-style: italic;
  font-family: 'Helvetica Neue';
  src:
    url('HelveticaNeue-Italic.woff2') format('woff2'),
    url('HelveticaNeue-Italic.woff') format('woff'),
    url('HelveticaNeue-Italic.ttf') format('truetype'),
    url('HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg');
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-style: italic;
  font-family: 'Helvetica Neue';
  src:
    url('HelveticaNeue-BoldItalic.woff2') format('woff2'),
    url('HelveticaNeue-BoldItalic.woff') format('woff'),
    url('HelveticaNeue-BoldItalic.ttf') format('truetype'),
    url('HelveticaNeue-BoldItalic.svg#HelveticaNeue-BoldItalic') format('svg');
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: 'Helvetica Neue';
  src:
    url('HelveticaNeue-CondensedBold.woff2') format('woff2'),
    url('HelveticaNeue-CondensedBold.woff') format('woff'),
    url('HelveticaNeue-CondensedBold.ttf') format('truetype'),
    url('HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg');
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-style: italic;
  font-family: 'Helvetica Neue';
  src:
    url('HelveticaNeue-LightItalic.woff2') format('woff2'),
    url('HelveticaNeue-LightItalic.woff') format('woff'),
    url('HelveticaNeue-LightItalic.ttf') format('truetype'),
    url('HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic') format('svg');
  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: 'Helvetica Neue';
  src:
    url('HelveticaNeue-CondensedBlack.woff2') format('woff2'),
    url('HelveticaNeue-CondensedBlack.woff') format('woff'),
    url('HelveticaNeue-CondensedBlack.ttf') format('truetype'),
    url('HelveticaNeue-CondensedBlack.svg#HelveticaNeue-CondensedBlack') format('svg');
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Helvetica Neue';
  src:
    url('HelveticaNeue-Light.woff2') format('woff2'),
    url('HelveticaNeue-Light.woff') format('woff'),
    url('HelveticaNeue-Light.ttf') format('truetype'),
    url('HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-display: swap;
}

@font-face {
  font-weight: 100;
  font-style: normal;
  font-family: 'Helvetica Neue';
  src:
    url('HelveticaNeue-UltraLight.woff2') format('woff2'),
    url('HelveticaNeue-UltraLight.woff') format('woff'),
    url('HelveticaNeue-UltraLight.ttf') format('truetype'),
    url('HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg');
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Helvetica Neue';
  src:
    url('HelveticaNeue.woff2') format('woff2'),
    url('HelveticaNeue.woff') format('woff'),
    url('HelveticaNeue.ttf') format('truetype'),
    url('HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-display: swap;
}

@font-face {
  font-weight: 100;
  font-style: normal;
  font-family: 'Helvetica Neue';
  src:
    url('HelveticaNeue-Thin.woff2') format('woff2'),
    url('HelveticaNeue-Thin.woff') format('woff'),
    url('HelveticaNeue-Thin.ttf') format('truetype'),
    url('HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
  font-display: swap;
}
